{# 
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

#}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{{ chart.label }}</title>
    <link rel="stylesheet" type="text/css" href="/static/para/parallel.css" />
  </head>
  <body class="dark">
  <div id="header">
      <h1>{{ chart.label }}</h1>
    <button title="Zoom in on selected data" id="keep-data" disabled="disabled">保留</button>
    <button title="Remove selected data" id="exclude-data" disabled="disabled">排除</button>
    <button title="Export data as CSV" id="export-data">调出</button>
    颜色基于: <select id="fields"></select>
    <div class="controls">
      <strong id="selected-count"></strong><!--<strong id="data-count"></strong>-->
      <div class="fillbar"><div id="selected-bar"><div id="rendered-bar">&nbsp;</div></div></div>
      线在 <strong id="opacity"></strong> 不透明.
      <span class="settings">
        <button id="hide-ticks">隐藏打勾</button>
        <button id="show-ticks" disabled="disabled">显示打勾</button>
        <button id="dark-theme" disabled="disabled">调暗</button>
        <button id="light-theme">调亮</button>
      </span>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div id="chart">
    <canvas id="background"></canvas>
    <canvas id="foreground"></canvas>
    <canvas id="highlight"></canvas>
    <svg></svg>
  </div>
  <div id="wrap">
    <div class="third" id="controls">

      <div class="little-box">
        <h3>控制</h3>
        <p>
          <strong>Brush</strong>: 沿轴线垂直拖动<br/>
          <strong>Remove Brush</strong>: 点击轴背景<br/>
          <strong>Reorder Axes</strong>: 阻力水平的标签<br/>
          <strong>Invert Axis</strong>: 点击轴标签<br/>
          <strong>Remove Axis</strong>: 将坐标轴拖动到左侧边缘<br/>
        </p>
      </div>
      <div class="little-box">
        <h3>信用 &amp; 许可</h3>
          <p>
            <a href="https://github.com/gameclosure/webgl-2d">Webgl-2d</a>
          </p>
          <p>
            由实例改编<br/>
          <a href="http://bl.ocks.org/1341021">Mike Bostock</a> 和 <a href="http://bl.ocks.org/1341281">Jason Davies</a><br/>
          </p>
          <p>
            版权 &copy; 2012, Kai Chang<br/>
            所有版权发布在 <a href="http://opensource.org/licenses/bsd-3-clause">BSD License</a>.
          </p>
        </p>
      </div>
    </div>
    <div  class="third">
      <small>
        <!--Last rendered <strong id="render-speed"></strong> lines-->
      </small>
      <h3>类别</h3>
      <p id="legend">
      </p>
    </div>
    <div class="third">
      <h3>25个样本<input type="text" id="search" placeholder="Search..."></input></h3>
      <p id="food-list">
      </p>
    </div>
  </div>
  </body>
  <script src="/static/d3.v3.min.js"></script>
  <script src="/static/underscore.js"></script>
  <script src="/static/para/webgl-2d.js"></script>
  <script src="/static/para/parallel.js"></script>
</html>
